*{
    margin: 0;
    padding: 0;
}
html{

    scroll-behavior: smooth;
    scroll-snap-align: y mandatory;
}
nav{
    text-align: center;
    background: rgb(0, 0, 0, 0.3) ;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 5px;
    padding: 10px;
}

.shot{
    margin-top: 55px;
    text-align: center;
    font-family: carattere, cursive;
    font-size: 70px;
    color: white;
    padding: 1.3em;
}

#section1{
    background-image: url(images/tim-arterbury-n-zEC_AypI8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
height: 100vh;


}
#section2{
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    padding: 0 2rem;
}
#section2 img{
    width: 100%;
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom:2rem;
}
.card img{
    height: 250px;
    
}
.card div{
    padding: 2rem;
}
.card:nth-child(even) img{
    order: 2;
}
.btn{
    display: inline-block;
    background: black;
    color: #fff;
    padding: 0.8rem 1.8rem;
    /* margin-top: 2rem; */
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
#welcome{
    margin-right: 600px;
    margin-bottom:30px ;
    font-size: 20px;
    color: white;
    line-height: 25px;
position: bottom;
background: rgb(0, 0, 0, 0.7) ;


}
h3{
    font-family: carattere,cursive;
    font-size: 20px;
}
#section3{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.text1{
    text-align: center;
    font-size: 20px;
    margin: 50px 100px 10px 100px;
}
.text1 h4{
    font-family: carattere,cursive;
    font-size: 50px;
}
.com1{
    flex: 2%;
        max-width: 25%;
        padding: 0 4px;  
}
.com1 img{
    margin-top: 8px;
    vertical-align: middle;
    width: 300px;
    border-radius: 25px;
}
form {
    max-width: 480px;
    margin: 200px auto;
    padding: 16px;
    border: 1px solid #eaeaea;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
footer{
    font-style: italic;
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   filter: opacity(50%);
}
#section4{
display: flex;
flex-direction: column;
align-items: center;
}
@media screen and (min-width:320px) and (max-width: 720px) {

    #section1{

        
    }

    a{
        font-size: 15px;
    }
    nav{
        text-align: center;
        background: rgb(0, 0, 0, 0.3) ;
        padding: 10px;
        position: fixed;
        top: 0;
        
        
    }
    .shot{
        margin-top: 40px;
        text-align: center;
        font-family: carattere, cursive;
        font-size: 35px;
        color: white;
        
        
    }
    #welcome{
        margin-top: 30px;
    margin-right: 60px;
        margin-bottom:3px ;
        font-size: 15px;
        color: white;
        width: 80%;
    position: bottom;
    background: rgb(0, 0, 0, 0.7) ;
    
    
    }
    .card{

         display: block;
        width: 75%; 
        
        
    }
    #section3 .com1 img{
        float: left;
width: 100px;
margin-left: 20px;

       } 
       #section3 .com2 img {
           display: none;
        
       }
    }